Source: spis
Priority: optional
Maintainer: Dominic Meiser <meiserdo@web.de>
Build-Depends: debhelper (>= 9), qtbase5-dev (>= 5.5), cmake (>= 3.1),
 pkg-config, doxygen, graphviz
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/msrd0/SPIS
Vcs-Git: git@github.com:msrd0/SPIS.git
Vcs-Browser: https://github.com/msrd0/SPIS

Package: libspis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: spis-drivers
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++

Package: libspisparser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspis (= ${binary:Version})
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++

Package: spis-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspis (= ${binary:Version})
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++

Package: libspis-dev
Architecture: all
Depends: libspis (= ${binary:Version}), libspisparser (= ${binary:Version}), spis (= ${binary:Version}),
 qtbase5-dev (>= 5.5), cmake (>= 3.1)
Suggests: spis-doc
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++

Package: spis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspis-dev (= ${binary:Version})
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++

Package: spis-doc
Architecture: all
Description: SPIS is a SQL library for C++
 SPIS is a SQL library for C++
